@use "sass:color";
@use "sass:map";
// Monochrome

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

// Colormix functions
// 
// use `tint` instead of default `lighten`
// use `shade` instead of default `darken` 

@function tint($color, $percentage) {
  @return color.mix($white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return color.mix($black, $color, $percentage);
}

// Color palettes
// 
// Ax00 variants are WCAG-accesible complements of x00 colors
// all the colors are in CIECAM02 color space

$primary: (
  100: #fef6e4,
  200: #f8e8cd,
  300: #f7dcb1,
  400: #f9c26f,
  500: #e1ac5b,
  600: #c59754,
  700: #aa844d,
  800: #917346,
  900: #7b633e,
  A100: #685437,
  A200: #564730,
  A300: #463928,
  A600: #faf7f0,
  A700: #f9f2e5,
  A800: #f8eedc,
  A900: #f8e9d0
);

$secondary: (
  100: #7f848f,
  200: #727883,
  300: #656c78,
  400: #59606e,
  500: #4e5665,
  600: #444b5c,
  700: #3a4253,
  800: #2f384a,
  900: #262e42,
  A100: #1b2438,
  A200: #11182a,
  A300: #05070c,
  A600: #f5f6f7,
  A700: #e9ebee,
  A800: #e0e2e6,
  A900: #d3d6dd
);

$tertiary: (
  100: #ea989c,
  200: #e8848a,
  300: #e57079,
  400: #de4358,
  500: #d42f4b,
  600: #be3246,
  700: #a93242,
  800: #96313d,
  900: #842f38,
  A100: #732c33,
  A200: #63292d,
  A300: #462023,
  A600: #f2d8d9,
  A700: #f0cacc,
  A800: #eebec0,
  A900: #ecabae
);

// Conveniences for palette access

@function primary($variation) {
  @return map.get($primary, $variation);
}

@function secondary($variation) {
  @return map.get($secondary, $variation);
}

@function tertiary($variation) {
  @return map.get($tertiary, $variation);
}

// CSS properties for light theme

[data-theme="light"] {
  --text-default: #{tint($black, 20%)};
  --text-muted: #{secondary(700)};
  --link-default: #{tertiary(600)};
  --link-hover: #{tertiary(800)};
  --background-body: #{primary(A600)};
  --background-body-dim: #{tint(primary(A900), 40%)};
  --background-panel-vibrant: #{tint(primary(200), 15%)};
  --background-panel: #{tint(primary(300), 30%)};
  --background-panel-dim: #{primary(300)};
  --background-scrollbar: #{primary(200)};
  --border: #{primary(500)};
  --border-panel: #{tint(primary(400), 10%)};
  --border-search: #{shade(primary(300), 5%)};
}

// CSS properties for dark theme

[data-theme="dark"] {
  --text-default: #{shade(primary(100), 25%)};
  --text-muted: #{shade(primary(200), 35%)};
  --link-default: #{tint(tertiary(400), 10%)};
  --link-hover: #{tertiary(500)};
  --background-body: #{shade(secondary(A200), 30%)};
  --background-body-dim: #{secondary(A300)};
  --background-panel-vibrant: #{shade(secondary(900), 20%)};
  --background-panel: #{shade(secondary(A200), 10%)};
  --background-panel-dim: #{shade(secondary(A200), 35%)};
  --background-scrollbar: #{secondary(A200)};
  --border: #{secondary(A100)};
  --border-panel: #{secondary(900)};
  --border-search: #{secondary(900)};
}
