@use 'sass:color';
@use 'sass:map';

// Color palettes
// 
// Ax00 variants are WCAG-accesible complements of x00 colors
// all the colors are in CIECAM02 color space

$monochrome: (
  A500: hsl(0, 0%, 100%),
  A600: hsl(0, 0%, 96%),
  A700: hsl(0, 0%, 91%),
  A800: hsl(0, 0%, 85%),
  A900: hsl(0, 0%, 78%),
  100: hsl(0, 0%, 71%),
  200: hsl(0, 0%, 63%),
  300: hsl(0, 0%, 56%),
  400: hsl(0, 0%, 50%),
  500: hsl(0, 0%, 44%),
  600: hsl(0, 0%, 38%),
  700: hsl(0, 0%, 33%),
  800: hsl(0, 0%, 28%),
  900: hsl(0, 0%, 24%),
  A100: hsl(0, 0%, 19%),
  A200: hsl(0, 0%, 15%),
  A300: hsl(0, 0%, 9%),
  A400: hsl(0, 0%, 0%)
);

$primary: (
  A500: #fcf8f8,
  A600: #f8f0f0,
  A700: #f5e3e3,
  A800: #f3d0cf,
  A900: #f0b9b7,
  100: #eea19f,
  200: #ec8686,
  300: #e96b6c,
  400: #e54c54,
  500: #e0253d,
  600: #c12d3a,
  700: #a52f36,
  800: #8c2e32,
  900: #742b2c,
  A100: #602627,
  A200: #4b2121,
  A300: #371919,
  A400: #1a0d0c
);

$secondary: (
  A500: #fbfaf3,
  A600: #f9f2da,
  A700: #f8e6b6,
  A800: #f1d691,
  A900: #ddc587,
  100: #c9b47c,
  200: #b5a272,
  300: #a29168,
  400: #90815e,
  500: #807355,
  600: #70664c,
  700: #625a44,
  800: #554e3c,
  900: #484234,
  A100: #3c382c,
  A200: #312d24,
  A300: #24211b,
  A400: #11100d
);

// Conveniences for palette access

@function mono($variation) {
  @return map.get($monochrome, $variation);
}

@function primary($variation) {
  @return map.get($primary, $variation);
}

@function secondary($variation) {
  @return map.get($secondary, $variation);
}

$black: mono(A400);
$white: mono(A500);

// Colormix functions
// 
// use `tint` instead of default `lighten`
// use `shade` instead of default `darken` 
// use `fade` instead of default `transparentize`

@function tint($color, $percentage) {
  @return color.mix($white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return color.mix($black, $color, $percentage);
}

@function fade($color, $transparency: 1) {
  @return color.adjust($color, $alpha: -($transparency));
}

@function vibrant($color, $vibrance) {
  @return color.adjust($color, $saturation: $vibrance);
}

// CSS properties for light theme

[data-theme='light'] {
  --color-muted: #{secondary(700)};
  --color-pronounced: #{vibrant(secondary(500), 50%)};
  --color-default: #{$black};
  --color-link: #{primary(500)};
  --color-hovered-link: #{primary(600)};
  --background-default: #{$white};
  --background-auxiliary: #{secondary(A600)};
  --background-muted: #{tint(secondary(A700), 50%)};
  --scrollbar: #{secondary(A900)};
}

// CSS properties for dark theme

[data-theme='dark'] {
  --color-muted: #{mono(300)};
  --color-pronounced: #{secondary(300)};
  --color-default: #{shade(secondary(A500), 30%)};
  --color-link: #{primary(400)};
  --color-hovered-link: #{primary(300)};
  --background-default: #{mono(A300)};
  --background-auxiliary: #{mono(A400)};
  --background-muted: #{mono(A200)};
  --scrollbar: #{mono(900)};
}
