// Options

$closer-lists: true !default;
$custom-colors: true !default;
$custom-fonts: true !default;
$font-smoothing: true !default;
$text-adjusting: true !default;
$heading-borders: false !default;
$show-underline: false !default;
$table-hover: false !default;
$table-striped: false !default;
$visited-links: false !default;
$variable-fonts: false !default;
$body-gradient: true !default;
$external-links: true !default;

// Breakpoints

$width-sm: 600px !default;
$width-md: 900px !default;
$width-lg: 1200px !default;
$width-xl: 1800px !default;

// Typography

$font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Droid Sans", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", Arial,
  "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-fixed: SFMono-Regular, "Roboto Mono", "Andale Mono",
  "Lucida Console", Menlo, Monaco, Consolas, "Inconsolata", "Liberation Mono",
  "Courier New", monospace !default;
// Define variable font family here
$font-family-sans-var: null !default;

$font-normal: 400 !default;
$font-semibold: 600 !default;
$font-bold: 700 !default;

$text-base: 1rem !default;

// Spacing

$line-height-none: 0 !default;
$line-height-base: 1.6 !default;

$gap-none: 0 !default;
$gap-base: 1rem !default;

$radius-base: 0.5rem !default;

// Proportions

$proportion-full: 100% !default;

// Indicators

// Used as a value of `content`
// Can be a `url`
$indicator-external-link: '\02197' !default;

$opacity-none: 0 !default;
$opacity-sm: 0.25 !default;
$opacity-md: 0.5 !default;
