@use './colors';

// Options

$external-links: true !default;

// Typography

$weight-normal: 400 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;

$font-size-xs: calc(0.75rem + 0.125vw) !default;
$font-size-sm: calc(0.8rem + 0.25vw) !default;
$font-size-md: calc(1.0625rem + 0.5vw) !default;
$font-size-lg: calc(1.125rem + 1vw) !default;
$font-size-xl: calc(1.5rem + 1.5vw) !default;

// Spacing

$breakpoint-sm: 600px !default;
$breakpoint-md: 900px !default;
$breakpoint-lg: 1200px !default;
$breakpoint-xl: 1800px !default;

$gap-xs: 0.5rem !default;
$gap-sm: 0.75rem !default;
$gap-rg: 1rem !default;
$gap-md: 1.25rem !default;
$gap-lg: 1.5rem !default;
$gap-xl: 2rem !default;
$gap-2xl: 3rem !default;
$gap-3xl: 5rem !default;

$gap: $gap-rg !default;

$expanse-md: calc(2vw + 1rem) !default;
$expanse-lg: calc(4vw + 1rem) !default;
$expanse-xl: calc(4vw + 2rem) !default;

$canvas: 50vw !default;

$cell-sm: 12rem !default;
$cell-md: 16rem !default;

$gfx-xs: 1rem !default;
$gfx-sm: 1.5rem !default;
$gfx-rg: 2rem !default;

$gfx-avatar: calc(3.5rem + 4vw) !default;

// Display

$radius-2xs: 0.25rem !default;
$radius-xs: 0.5rem !default;
$radius-sm: 0.75rem !default;
$radius-rg: 1rem !default;
$radius-md: 1.5rem !default;
$radius-lg: 2rem !default;

$radius: $radius-2xs !default;

$opacity: 0.5 !default;

$indicator-external-link: '\02197' !default;
$indicator-reference-link: '#' !default;
$indicator-separator: '/' !default;

// Colors

$color-muted: var(--color-muted) !default;
$color-pronounced: var(--color-pronounced) !default;
$color-default: var(--color-default) !default;

$background-default: var(--background-default) !default;
$background-auxiliary: var(--background-auxiliary) !default;
$background-muted: var(--background-muted) !default;
$background-subtle: var(--background-subtle) !default;
$background-pronounced: var(--background-pronounced) !default;

$link: var(--color-link) !default;
$link-hover: var(--color-hovered-link) !default;

$border-active: $link !default;

$text: $color-default !default;
$text-muted: $color-muted !default;

$scrollbar: var(--background-scrollbar) !default;
$selected: colors.fade(colors.vibrant(colors.secondary(500), 15%), 0.75) !default;

@use '../../../../node_modules/@microflash/remarkability/scss/variables' with (
  $compact-lists: true,
  $multiline-wrap: true,
  $custom-selection: true,
  $custom-scrollbar: true,
  $custom-colors: true,
  $custom-fonts: true,
  $smooth-fonts: true,
  $adjust-text: true,
  $round-media: true,
  $round-blocks: true,
  $responsive-tables: true,
  $hovered-links: true,
  $scroll-smoothly: true,
  $weight-headings: $weight-semibold,
  $font-size-base: calc(1rem + 0.2vw),
  $background-body: $background-default,
  $background-code: $background-muted,
  $background-ins: $background-muted,
  $background-mark: $background-muted,
  $background-table: inherit,
  $background-table-even: inherit,
  $background-table-hover: $background-muted,
  $background-selected: $selected,
  $background-scrollbar: $background-auxiliary,
  $border-color: $color-muted,
  $radius: $radius,
  $text: $text,
  $text-code: inherit,
  $text-bold: inherit,
  $text-muted: $text-muted,
  $text-headings: $color-pronounced,
  $text-blockquote: $color-muted,
  $link: $link,
  $link-hover: $link-hover,
  $link-visited: $color-pronounced,
  $table-thead: $color-pronounced,
  $scrollbar: $scrollbar,
  $margin: $gap-lg
);
