//  Typography

$font-family-base: $font-family-sans !default;

@if $variable-fonts {
  @supports (font-variation-settings: normal) {
    $font-family-base: $font-family-sans-var, $font-family-sans !default;
  }
}

$weight-strong: $font-bold !default;
$weight-headings: $font-semibold !default;

// Font-size variants

$text-xs: resize($text-base, 0.75) !default;
$text-sm: resize($text-base, 0.875) !default;
$text-md: resize($text-base, 1.25) !default;
$text-lg: resize($text-base, 1.5) !default;
$text-xl: resize($text-base, 1.75) !default;
$text-2xl: resize($text-base, 2) !default;
$text-3xl: resize($text-base, 3) !default;

$font-size: $text-base !default;
$text-size-adjust: $proportion-full !default;

// Colors

$link: tertiary(400) !default;
$link-hover: tertiary(600) !default;
$text: var(--text-default) !default;
$text-muted: var(--text-muted) !default;
$text-code: inherit !default;
$text-strong: inherit !default;
$text-light: $text-muted !default;
$text-headings: inherit !default;
$text-blockquote: $text-muted !default;
$table-thead: inherit !default;
$selected: transparentize(primary(500), 0.75);

$background-body: var(--background-body) !default;
$background-body-dim: var(--background-body-dim) !default;
$background-panel: var(--background-panel) !default;
$background-panel-dim: var(--background-panel-dim) !default;
$background-panel-vibrant: var(--background-panel-vibrant) !default;
$background-code: $background-panel-vibrant !default;
$background-ins: $background-panel-vibrant !default;
$background-mark: $background-panel-vibrant !default;
$background-table: inherit !default;
$background-table-even: $background-panel !default;
$background-table-hover: $background-panel-dim !default;

$border: var(--border) !default;
$border-panel: var(--border-panel) !default;

$scrollbar-track: var(--background-scrollbar) !default;
$scrollbar-thumb: $border-panel !default;
$scrollbar-button: $background-panel-dim !default;

// Spacing

$line-height: $line-height-base !default;
$line-height-xs: resize($line-height-base, 0.78125) !default;
$line-height-sm: resize($line-height-base, 0.875) !default;
$line-height-md: resize($line-height-base, 1.0625) !default;

// Gap variants

$gap-xs: resize($gap-base, 0.5) !default;
$gap-sm: resize($gap-base, 0.75) !default;
$gap-md: resize($gap-base, 1.25) !default;
$gap-lg: resize($gap-base, 1.5) !default;
$gap-xl: resize($gap-base, 2) !default;
$gap-xxl: resize($gap-base, 3) !default;

$margin: $gap-base !default;

$graphics: $gap-base !default;
$graphics-sm: $gap-lg !default;

$radius: $radius-base !default;
$radius-sm: resize($radius-base, 0.5) !default;

$width-full: $proportion-full !default;
