@use './colors';

// Options

$closer-lists: true !default;
$custom-colors: true !default;
$custom-fonts: true !default;
$font-smoothing: true !default;
$text-adjusting: true !default;
$round-images: true !default;
$round-codeblocks: true !default;
$heading-borders: false !default;
$show-underline: false !default;
$table-hover: false !default;
$table-striped: false !default;
$visited-links: false !default;
$hovered-links: true !default;
$variable-fonts: false !default;
$external-links: true !default;

// Typography

$family-native: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Droid Sans', 'Oxygen', 'Ubuntu', 'Cantarell', 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji' !default;
$family-code-native: SFMono-Regular, 'Roboto Mono', 'Andale Mono', Menlo, Monaco,
  Consolas, 'Inconsolata', 'Liberation Mono', 'Courier New', monospace !default;

$family-default: $family-native !default;
$family-code: $family-code-native !default;
$family-default-var: null !default;
$family-code-var: null !default;

$weight-normal: 400 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;

$weight-headings: $weight-semibold !default;

$font-size-xs: calc(0.75rem + 0.125vw) !default;
$font-size-sm: calc(0.8rem + 0.25vw) !default;
$font-size: calc(1rem + 0.2vw) !default;
$font-size-md: calc(1.0625rem + 0.5vw) !default;
$font-size-lg: calc(1.125rem + 1vw) !default;
$font-size-xl: calc(1.5rem + 1.5vw) !default;

$text-size-adjust: 100% !default;

// Spacing

$line-height: 1.6 !default;

$breakpoint-sm: 600px !default;
$breakpoint-md: 900px !default;
$breakpoint-lg: 1200px !default;
$breakpoint-xl: 1800px !default;

$gap-xs: 0.5rem !default;
$gap-sm: 0.75rem !default;
$gap-rg: 1rem !default;
$gap-md: 1.25rem !default;
$gap-lg: 1.5rem !default;
$gap-xl: 2rem !default;
$gap-2xl: 3rem !default;
$gap-3xl: 5rem !default;

$gap: $gap-rg !default;
$margin: $gap-lg !default;

$expanse-md: calc(2vw + 1rem) !default;
$expanse-lg: calc(4vw + 1rem) !default;
$expanse-xl: calc(4vw + 2rem) !default;

$canvas: 50vw !default;

$cell-sm: 12rem !default;
$cell-md: 16rem !default;

$gfx-xs: 1rem !default;
$gfx-sm: 1.5rem !default;
$gfx-rg: 2rem !default;

$gfx-avatar: calc(3.5rem + 4vw) !default;

// Display

$radius-2xs: 0.25rem !default;
$radius-xs: 0.5rem !default;
$radius-sm: 0.75rem !default;
$radius-rg: 1rem !default;
$radius-md: 1.5rem !default;
$radius-lg: 2rem !default;

$radius: $radius-2xs !default;
$image-radius: $radius !default;
$codeblock-radius: $radius !default;

$opacity: 0.5 !default;

$indicator-external-link: '\02197' !default;
$indicator-reference-link: '#' !default;
$indicator-separator: '/' !default;

// Colors

$color-muted: var(--color-muted) !default;
$color-pronounced: var(--color-pronounced) !default;
$color-default: var(--color-default) !default;

$background-default: var(--background-default) !default;
$background-auxiliary: var(--background-auxiliary) !default;
$background-muted: var(--background-muted) !default;
$background-pronounced: var(--background-pronounced) !default;

$background-body: $background-default !default;
$background-code: $background-muted !default;
$background-ins: $background-muted !default;
$background-mark: $background-muted !default;
$background-table: inherit !default;
$background-table-even: inherit !default;
$background-table-hover: $background-muted !default;
$background-scrollbar: $background-auxiliary !default;

$link: var(--color-link) !default;
$link-hover: var(--color-hovered-link) !default;
$link-visited: $color-pronounced !default;

$border: $color-muted !default;
$border-active: $link !default;

$text: $color-default !default;
$text-code: inherit !default;
$text-strong: inherit !default;
$text-muted: $color-muted !default;
$text-headings: $color-pronounced !default;
$text-blockquote: $color-muted !default;

$table-thead: $color-pronounced !default;
$scrollbar: var(--background-scrollbar) !default;
$selected: colors.fade(colors.vibrant(colors.secondary(500), 15%), 0.75) !default;
