@use '../core/variables';
@use './queries';

// Apply flex

@mixin flex($wrap: wrap, $justify: center, $align: center) {
  display: flex;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

// Symmetric spacing

@mixin vspace($gap) {
  padding-top: $gap;
  padding-bottom: $gap;
}

@mixin hspace($gap) {
  padding-right: $gap;
  padding-left: $gap;
}

// Grids
// generates a grid with cells of specified width

@mixin matrix($width, $gutter: variables.$gap-rg) {
  display: flex;
  flex-wrap: wrap;
  
  display: grid;
  grid-gap: $gutter;
  
  grid-template-columns: 100%;
  
  @include queries.tab-landscape {
    grid-template-columns: repeat(auto-fill, minmax($width, 1fr));
  }
  
  &-cell {
    flex: 1 1 $width;
    margin: $gutter;
    height: 100%;
  }

  @supports (display: grid) {
    & > * {
      margin: 0;
    }
  }
}

.grid-sm {
  @include matrix(variables.$cell-sm);
}

.grid-md {
  @include matrix(variables.$cell-md);
}

.grid-rg {
  @include matrix(variables.$cell-rg);
}
