@use "../core/variables";

// Cell sizing

@mixin cell($font-size) {
  font-size: #{$font-size}em;
  padding: variables.$margin / 2 / $font-size;
}

// Headings adjustment

@mixin heading($font-size, $with-border: false, $top-space: false) {
  font-size: #{$font-size}em;
  margin-bottom: variables.$margin / $font-size;

  @if $top-space {
    margin-top: variables.$margin * 3 / $font-size;
  } @else {
    margin-top: variables.$margin / $font-size;
  }

  @if variables.$heading-borders and $with-border {
    border-bottom: 1px solid variables.$border;
    padding-bottom: variables.$margin / $font-size;
  }
}

// Visibility

@mixin hide($toggle: true) {
  @if $toggle {
    visibility: hidden;
    display: none;
  } @else {
    visibility: initial;
    display: unset;
  }
}

// Box spacing

@mixin spacing($gap-top: variables.$gap-md, $gap-bottom: variables.$gap-md) {
  padding: $gap-top variables.$gap-lg $gap-bottom;
}

// Expanse

@mixin expanse($gap-top: variables.$gap-lg, $gap-bottom: variables.$gap-lg) {
  padding-top: $gap-top;
  padding-bottom: $gap-bottom;
}

// Align to center

@mixin center($wrap: wrap, $justify: center) {
  display: flex;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: center;
}

// Set base font-family

@mixin base-font {
  font-family: variables.$font-family-sans;

  @if variables.$variable-fonts {
    @supports (font-variation-settings: normal) {
      font-family: variables.$font-family-sans-var, variables.$font-family-sans;
    }
  }
}
