@use '../core/variables';

// Table cell sizing

@mixin cell($font-size) {
  font-size: #{$font-size}em;
  padding: variables.$margin / 2 / $font-size;
}

// Headings adjustment

@mixin heading($font-size, $with-border: false, $top-space: false) {
  font-size: #{$font-size}em;
  margin-bottom: variables.$margin / $font-size;

  @if $top-space {
    margin-top: variables.$margin * 3 / $font-size;
  } @else {
    margin-top: variables.$margin / $font-size;
  }

  @if variables.$heading-borders and $with-border {
    border-bottom: 1px solid variables.$border;
    padding-bottom: variables.$margin / $font-size;
  }
}

// Visibility

@mixin hide($toggle: true) {
  @if $toggle {
    visibility: hidden;
    display: none;
  } @else {
    visibility: initial;
    display: unset;
  }
}

// Set base font-family

@mixin base-font {
  font-family: variables.$family-default;

  @if variables.$variable-fonts and variables.$family-default-var {
    @supports (font-variation-settings: normal) {
      font-family: variables.$family-default-var, variables.$family-native;
    }
  }
}

// Set monospace font-family

@mixin code-font {
  font-family: variables.$family-code;

  @if variables.$variable-fonts and variables.$family-code-var {
    @supports (font-variation-settings: normal) {
      font-family: variables.$family-code-var, variables.$family-code-native;
    }
  }
}
