/*! remarkability.css v0.6.7 | MIT License | https://github.com/Microflash/remarkability */
* {
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    background-color: $scrollbar-track;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb;
  }

  &::-webkit-scrollbar-button {
    background-color: $scrollbar-button;
  }

  scrollbar-color: $scrollbar-thumb $scrollbar-track;

  scroll-behavior: smooth;

  @media screen and (prefers-reduced-motion: true) { 
    scroll-behavior: auto;
  }

  &::-moz-selection { 
    background: $selected; 
  }
  
  &::selection { 
    background: $selected; 
  }
}

body {
  line-height: $line-height;
  font-size: $font-size;

  @if $text-adjusting {
    text-size-adjust: $text-size-adjust;
  }

  @if $custom-colors {
    color: $text;
  }

  @if $custom-fonts {
    font-family: $font-family-base;
  }

  @if $font-smoothing {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  text-rendering: optimizeLegibility;
  background-color: $background-body;
  color: $text;

  @if $body-gradient {
    background-image: linear-gradient(to top, $background-body 0%, $background-body-dim 100%);
    min-height: 100vh;
  }
}

// Inlines
a {
  text-decoration: none;
  cursor: pointer;

  @if $custom-colors {
    color: $link;

    &:focus, 
    &:hover {
      color: $link-hover;
    }
  }

  @if $show-underline {
    @include underline;
  } @else {
    &:focus,
    &:hover {
      @include underline;
    }
  }

  &:active,
  &:hover {
    outline-width: 0;
  }

  @if $external-links {
    &[rel*="nofollow"] {
      &::after {
        content: $indicator-external-link;
      }
    }
  }
}

abbr {
  text-decoration: underline dotted;
  cursor: help;
}

cite {
  font-style: italic;
}

hr {
  background-color: $border;
  border: none;
  display: block;
  height: 1px;
  margin-bottom: $margin;
  margin-top: $margin;
}

img {
  vertical-align: text-bottom;
}

mark,
ins {
  border-radius: $radius;
  padding: 0em 0.4em 0.2em;
  vertical-align: baseline;
}

ins {
  background-color: $background-ins;
  text-decoration: none;
}

mark {
  background-color: $background-mark;
}

summary {
  display: list-item;
}

details {
  display: block;

  summary {
    cursor: pointer;
  }

  p {
    padding-left: 1.1em;

    &:first-of-type {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
}

small {
  font-size: 0.8em;
}

strong {
  font-weight: $weight-strong;

  @if $custom-colors {
    color: $text-strong;
  }
}

sub,
sup {
  font-size: 0.8em;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

// Blocks
p,
dl,
ol,
ul,
blockquote,
pre,
table {
  margin-bottom: $margin;

  &:last-child {
    margin-bottom: 0;
  }
}

p {
  &:empty {
    display: none;
  }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $weight-headings;
  line-height: 1.2;

  &:first-child {
    margin-top: 0;
  }

  @if $custom-colors {
    color: $text-headings;
  }
}

h1 {
  @include heading(2.4, true);

  line-height: $line-height-xs;
}

h2 {
  @include heading(1.6, true, true);

  line-height: $line-height-sm;
}

h3 {
  @include heading(1.3);
}

h4 {
  @include heading(1.2);
}

h5 {
  @include heading(1.1);
}

h6 {
  @include heading(1);
}

// Paragraphs
@if $closer-lists {
  p {
    & + dl,
    & + ol,
    & + ul {
      margin-top: -$margin;
    }
  }
}

// Lists
dd {
  margin-left: $margin;
}

ol,
ul {
  list-style-position: outside;
  margin-left: $margin;
}

ol {
  list-style-type: decimal;

  ol {
    list-style-type: lower-alpha;

    ol {
      list-style-type: lower-roman;

      ol {
        list-style-type: lower-greek;

        ol {
          list-style-type: decimal;

          ol {
            list-style-type: lower-alpha;
          }
        }
      }
    }
  }
}

ul {
  list-style-type: disc;

  ul {
    list-style-type: circle;

    ul {
      list-style-type: square;

      ul {
        list-style-type: circle;

        ul {
          list-style-type: disc;

          ul {
            list-style-type: circle;
          }
        }
      }
    }
  }
}

// Input
input {
  font-family: $font-family-base;
  font-size: $font-size;
  color: $text;

  &::placeholder,
  &::-moz-placeholder {
    color: inherit;
    opacity: $opacity-md;
  }
}

// Blockquote
blockquote {
  border-left: 2px solid $border;
  padding: 0.5em 1em;

  @if $custom-colors {
    color: $text-blockquote;
  }
}

// Code
code,
kbd,
samp,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  background-color: $background-code;
  color: $text;
  font-size: 0.9em;
  border-radius: $radius-sm;

  @if $custom-fonts {
    font-family: $font-family-fixed;
  }
}

code,
kbd,
samp {
  padding: 0.2em 0.4em 0.2em;

  @if $custom-colors {
    color: $text-code;
  }
}

pre {
  overflow: hidden;
  border-radius: $radius;

  code {
    display: block;
    background: none;
    overflow: auto;
    border: none;
    padding: 1em 1.2em;
    font-size: 1em;
    line-height: 1em;
    white-space: pre;
  }
}

// Figure
figure {
  margin-bottom: $margin * 2;
  text-align: center;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

figcaption {
  font-size: 0.8em;
  margin-top: $margin / 1.6;

  @if $custom-colors {
    color: $text-light;
  }
}

// Table
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  pre {
    white-space: pre-wrap;
  }
}

th,
td {
  @include cell(1);

  border: 1px solid $border;
  line-height: 1.4;
}

thead,
tfoot {
  tr {
    @if $table-striped {
      background-color: $border;
    } @else {
      background-color: $background-table-hover;
    }
  }

  th,
  td {
    @include cell(0.9);

    @if $custom-colors {
      color: $table-thead;
    }

    code {
      background-color: $background-table;
    }
  }
}

tbody {
  tr {
    background-color: $background-table;

    @if $table-striped {
      &:nth-child(even) {
        background-color: $background-table-even;
      }

      @if $table-hover {
        &:hover {
          background-color: $background-table-hover;
        }
      }
    } @else {
      @if $table-hover {
        &:hover {
          background-color: $background-table-even;
        }
      }
    }
  }
}
