@charset "UTF-8";

@import "reset";
@import "core";
@import "helpers";
@import "globals";

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;

  @include desktop {
    max-width: $expanse;
  }
}

.layout {
  overflow-x: hidden;
}

.article,
.note {
  @include spacing;
}

.article {
  background-color: $background-panel;

  @include desktop {
    padding: $gap-xxl;
  }
}

.note {
  background-color: $background-panel-dim;
}

.card {
  @extend .article;

  &:hover, 
  &:focus {
    background-color: $background-panel-dim;
  }

  & > a {
    text-decoration: none;
  }

  .card-header {
    font-weight: $font-normal;
    font-size: $text-xs;
    margin-bottom: $gap-xs;

    & > a {
      text-decoration: none;
    }
  }

  .card-body {
    font-size: $text-md;
  }

  .card-footer {
    font-size: $text-sm;
  }
}

.lead {
  font-weight: $font-semibold;
  font-size: $text-md;
  margin-top: $gap-xs;
  margin-bottom: $gap-xs;
}

.follow {
  margin-bottom: resize($gap-base, 0.25);
}

.emphasis {
  color: $link;
}

.icon {
  width: $graphics-sm;
  height: $graphics-sm;
  vertical-align: text-top;
}

.decorated-links {
  a:focus, 
  a:hover {
    @include underline;
  }
}

.translucent {
  opacity: $opacity-sm;
}
