@charset 'UTF-8';

@use 'reset';
@use 'core/colors';
@use 'core/fonts';
@use 'core/variables';
@use 'core/motion';
@use 'helpers/queries';
@use 'helpers/layouts';
@use 'helpers/mixins';
@use 'extensions';
@use 'globals';

// Container

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  @include layouts.vspace(variables.$vgap);
  @include layouts.hspace(variables.$hgap);
}

.canvas-fluid {
  @include layouts.canvas;
}

.canvas {
  @include layouts.canvas(false);
}

// Header

.header {
  @include layouts.flex($wrap: wrap, $justify: space-between);
}

.brand {
  line-height: 0;
  width: calc(7rem + 1vw);
}

.hamburger {
  @include queries.tab-landscape {
    @include mixins.hide(true);
  }
}

.menu {
  @include layouts.flex;

  & > * {
    margin-right: variables.$gap;

    &:last-child {
      margin-right: 0;
    }
  }

  @include queries.within-tab-landscape {
    width: 100%;

    .search-container {
      margin-right: 0;
    }
  }
}

.is-visible {
  @include mixins.hide(false);
}

.is-hidden {
  @include mixins.hide(true);
}

.is-hidden-on-phone {
  @include queries.within-tab-landscape {
    @include mixins.hide(true);
  }
}

// Search

.search-focal {
  @include mixins.hide(true);
}

.search-box,
.search-container {
  position: relative;
}

.search-container {
  @include queries.within-tab-landscape {
    margin-top: variables.$gap;
    margin-bottom: variables.$gap;
  }
}

.search-box, .results-container {
  display: flex;
  background-color: variables.$background-muted;
  padding: variables.$gap-xs variables.$gap-rg;
  border: 1px solid variables.$border;
  border-radius: variables.$radius;

  @include queries.tab-landscape {
    width: 22rem;
  }
}

.remove-bottom-border {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 1px inset transparent;
}

.remove-top-border {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 1px inset transparent;
}

.search {
  margin: -(variables.$gap-xs);
  padding: variables.$gap-xs;
  outline: none;
  border: none;
  width: 100%;
}

.icon-search,
.icon-clear {
  color: variables.$link;
}

.icon-clear {
  cursor: pointer;
}

.search-box {
  margin-top: 2px;

  &:focus,
  &:hover {
    .icon-search,
    .icon-close {
      color: variables.$link-hover;
    }
  }
}

.results-container {
  position: absolute;
  overflow: hidden;
  max-height: 75vh;
  z-index: 10;
}

.search-results {
  margin-right: -(variables.$gap-rg);
  padding-right: variables.$gap-sm;
  overflow: auto;
  display: flex;
  flex-direction: column;

  .search-result {
    cursor: pointer;
    text-decoration: none;
    border-top: 1px solid variables.$selected;
    padding-top: variables.$gap-xs;
    padding-bottom: variables.$gap-xs;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .search-result-title,
  .search-result-summary {
    display: inline-block;
  }

  .results-label {
    padding-bottom: variables.$gap-xs;
    color: variables.$text-muted;
  }

  .search-result-title {
    font-weight: variables.$weight-semibold;
  }

  .search-result-summary {
    font-size: variables.$text-sm;
    color: variables.$text-muted;
  }

  .search-result:focus,
  .search-result:hover,
  .search-result-highlighted {
    .search-result-title {
      color: variables.$link-hover;
    }
  
    .search-result-summary {
      color: variables.$text;
    }
  }
}

// Hero

.hero {
  @include layouts.flex($justify: space-around);
  flex-direction: column;
  @include layouts.vspace(variables.$hgap);
  background-color: variables.$background-auxiliary;

  @include queries.within-tab-landscape {
    align-items: flex-start;
  }
}

.title {
  font-size: variables.$font-size-title;
  color: variables.$text;
}

.subtitle {
  font-size: variables.$font-size-subtitle;
  color: variables.$text-muted;
}

.metadata {
  @include layouts.flex($justify: flex-start);
  flex-direction: row;
}

.metadata-author {
  @include layouts.flex($justify: flex-start);

  img { 
    height: variables.$gfx-rg;
    width: variables.$gfx-rg;
    border-radius: 50%;
  }

  a {
    margin-left: variables.$gap-xs;
  }
}

.metadata-author-avatar {
  @include layouts.flex($justify: flex-start);
  margin-right: variables.$gap-lg;

  img {
    height: variables.$gfx-avatar;
    width: variables.$gfx-avatar;
    border-radius: 50%;
  }
}

.profile {
  @include layouts.flex($justify: flex-start);
}

// Article and Posts

.article, .posts {
  @include layouts.flex;
  flex-direction: column;

  @include queries.within-tab-landscape {
    align-items: flex-start;
  }
}

.main {
  @extend .canvas;
  font-size: 1.0625rem;

  & > p:first-of-type {
    font-size: variables.$font-size-intro;
  }
}

.article-actions {
  margin-top: calc(4vw + 2.5rem);

  & > a {
    display: inline-block;
    text-decoration: none;
    margin-top: variables.$gap-rg;
    margin-right: variables.$gap-rg;
  }
}

.post {
  margin-bottom: variables.$hgap-sm;

  a {
    text-decoration: none;

    &:focus .post-body,
    &:focus .post-footer,
    &:hover .post-body,
    &:hover .post-footer {
      color: inherit;
    }
  }

  .post-header,
  .post-footer {
    font-size: variables.$font-size-post-meta;
  }

  .post-header {
    margin-bottom: variables.$gap-xs;
  }

  .post-body {
    font-size: variables.$font-size-post;
  }

  .post-footer {
    color: variables.$text-muted;
  }
}

// Pagination

.pagination {
  @include layouts.flex;
  @include layouts.hspace(variables.$hgap);
  margin-bottom: variables.$gap-lg;
  z-index: 15;

  .is-prev,
  .is-next {
    display: inline-flex;
    align-items: flex-end;
  }

  .is-prev {
    margin-right: variables.$gap-lg;
  }

  .is-next {
    margin-left: variables.$gap-lg;
  }

  & > a {
    text-decoration: none;
  }
}

// Footer

.footer {
  @include layouts.flex;

  @include queries.within-tab-landscape {
    justify-content: flex-start;
  }

  nav > * {
    display: block;
  }

  .grid-sm {
    @include layouts.vspace(variables.$vgap);
  }

  .is-lead {
    font-weight: variables.$weight-semibold;
    margin-bottom: variables.$gap-rg;
  }

  .is-separated {
    margin-right: variables.$gap-sm;
  }
}

// Icons

.icon {
  fill: none;
  stroke: currentColor;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  vertical-align: middle;
  height: variables.$gfx-sm;
  width: variables.$gfx-sm;
}

.icon-sm {
  @extend .icon;

  stroke-width: 2px;
  width: variables.$gfx-xs;
}

// Article reference links

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  &:focus a .ref-link,
  &:hover a .ref-link {
    @include mixins.hide(false);
    display: inline-block;
    width: 1.25ch;
    margin-left: -1.25ch;
    font-weight: variables.$weight-normal;

    &::after {
      content: variables.$indicator-reference-link;
      outline: none;
    }
  }
}

// Active links

.active {
  text-decoration: underline dotted;
}

// Separator

.separator {
  opacity: variables.$opacity;
  padding-right: variables.$gap-xs;
  padding-left: variables.$gap-xs;

  &::after {
    content: variables.$indicator-separator;
  }
}

// Custom emphasis

.is-primary {
  color: variables.$link;
  border-color: variables.$link;
}

// Layout

.layout {
  overflow-x: hidden;
}
