@charset "UTF-8";

@use "reset";
@use "core/colors";
@use "core/fonts";
@use "core/variables";
@use "helpers/queries";
@use "helpers/layouts";
@use "helpers/mixins";
@use "globals";

// Cross-component definitions

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;

  @include queries.desktop {
    max-width: variables.$expanse-container-rg;
  }

  @include queries.widescreen {
    max-width: variables.$expanse-container-ws;
  }
}

.panel {
  display: block;
  overflow: hidden;
  background-color: variables.$background-panel;
  @include mixins.spacing;

  @include queries.tab-portrait {
    padding: variables.$expanse-base;
  }
}

// Component-specific definitions

.header {
  @include mixins.center(wrap, space-between);
  @include mixins.spacing;

  @include queries.tab-portrait {
    padding: variables.$expanse-base;
  }

  .brand {
    line-height: 0;

    .logo {
      width: 7.5rem;

      @include queries.tab-portrait {
        width: 8.5rem;
      }
    }
  }
}

.menu {
  display: block;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  list-style: none;
  font-weight: variables.$font-semibold;

  @include queries.phone {
    margin-top: variables.$gap-md;
    margin-right: -(variables.$gap-lg);
    margin-left: -(variables.$gap-lg);
    padding: variables.$gap-rg;
    background-color: variables.$background-panel-dim;
    
    li {
      padding: variables.$gap-xs;
    }
  }

  @include queries.tab-portrait {
    display: flex;
    flex: 0 1 auto;
    width: auto;

    li {
      margin-left: variables.$gap-rg;
    }
  }
}

$hamburger-layer-height: 2px !default;
$hamburger-layer-spacing: 6px !default;

.hamburger {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  outline: none;

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  @include queries.tab-portrait {
    @include mixins.hide(true);
  }

  &.active {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: variables.$link;
    }
  }
}

.hamburger-box {
  width: variables.$gap-md;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height / -2;

  &,
  &::before,
  &::after {
    width: variables.$gap-md;
    height: $hamburger-layer-height;
    background-color: variables.$link;
    border-radius: variables.$radius-rg;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}

.hamburger-icon {
  .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    }

    &::after {
      transition: bottom 0.1s 0.25s ease-in,
        transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.active {
    .hamburger-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out,
          transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

.hero {
  @include mixins.spacing(0);

  @include queries.tab-portrait {
    padding-right: variables.$expanse-base;
    padding-bottom: variables.$gap-2xl;
    padding-left: variables.$expanse-base;
  }

  h1 {
    @include queries.phone {
      font-size: variables.$text-lg;
    }

    @include queries.desktop {
      width: variables.$expanse-article;
    }
  }
}

.card {
  @include mixins.spacing;
  height: inherit;

  @include queries.tab-portrait {
    padding: variables.$expanse-base;
    border-radius: variables.$radius-rg;
  }

  &:hover, 
  &:focus {
    background-color: variables.$background-panel-dim;
  }

  a {
    text-decoration: none;
  }
}

.card-header {
  font-size: variables.$text-sm;
  margin-bottom: variables.$gap-xs;
}

.card-body {
  font-size: variables.$text-md;
}

.card-footer {
  font-size: variables.$text-sm;
  color: variables.$text;
}

.article {
  font-size: 1.0625rem;
  width: 100%;

  @include queries.desktop {
    width: variables.$expanse-article;
  }

  & > p:first-of-type {
    font-size: variables.$text-md;
  }
}

.post {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;

  @include queries.desktop {
    flex-direction: row;
  }

  aside {
    @include mixins.spacing(0);
    width: 100%;

    @include queries.tab-portrait {
      margin-top: -(variables.$expanse-base / 2);
      padding-right: variables.$expanse-base;
      padding-left: variables.$expanse-base;
      margin-bottom: variables.$expanse-base / 2;
    }

    @include queries.desktop {
      width: auto;
      margin-left: variables.$gap-2xl;
      margin-top: variables.$expanse-base;
      padding: 0;
    }

    p {
      margin-bottom: variables.$gap-xs;
    }

    .author {
      display: flex;
      align-items: center;

      a {
        margin-left: variables.$gap-xs;
      }
    }
  }
}

.pagination {
  @include mixins.spacing;
  @include mixins.center(nowrap, space-between);

  @include queries.tab-portrait {
    padding: variables.$expanse-base variables.$expanse-base 0;
    justify-content: center;

    .is-prev {
      margin-right: variables.$gap-lg;
    }

    .is-next {
      margin-left: variables.$gap-lg;
    }
  }
}

.search-focal {
  @include mixins.hide(true);
}

.search-container,
.search-box {
  position: relative;
}

.search {
  background-color: variables.$background-panel;
  padding: variables.$gap-sm variables.$gap-rg;
  padding-left: variables.$gap-2xl;
  border: none;
  border-radius: variables.$radius;
  outline: none;
  width: 100%;

  &:focus, 
  &:hover {
    background-color: variables.$background-panel-vibrant;
    box-shadow: 0px 10px 50px -25px variables.$text-muted;
  }

  @include queries.phone {
    background-color: variables.$background-panel;
  }

  @include queries.tab-landscape {
    width: 20rem;
  }
}

.results-container {
  position: absolute;
  z-index: variables.$elevation-md;
  overflow: hidden;
  width: 100%;
  left: 0;
  right: 0;
  max-height: 32rem;
  margin-top: variables.$gap-xs;
  border-radius: variables.$radius;
  box-shadow: 0px 10px 50px -25px variables.$text-muted;

  @include queries.tab-landscape {
    width: 26rem;
  }

  .search-results {
    height: inherit;
    max-height: inherit;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: variables.$background-panel-dim;

    .search-result, .no-result {
      padding: variables.$gap-rg;
    }

    .no-result {
      font-weight: variables.$font-normal;
    }

    .search-result-highlighted {
      background-color: variables.$background-panel;
    }

    .search-result {
      font-weight: variables.$font-bold;
      font-size: variables.$text-md;
      color: variables.$link;
      cursor: pointer;
      border-bottom: 1px solid variables.$border-search;

      &:last-child {
        border-bottom: none;
      }

      &:focus, 
      &:hover {
        background-color: variables.$background-panel-vibrant;
        color: variables.$link-hover;
        text-decoration: none;
      }

      .search-result-summary {
        display: block;
        font-weight: variables.$font-normal;
        font-size: variables.$text-sm;
        margin-top: variables.$gap-sm;
        color: variables.$text;
      }
    }
  }
}

.icon-search, .icon-close {
  position: absolute;
  top: variables.$gap-sm;
  color: variables.$link;

  &:focus, 
  &:hover {
    color: variables.$link-hover;
  }
}

.icon-search {
  left: variables.$gap-sm;
}

.icon-close {
  right: variables.$gap-sm;
}

.footer {
  @include mixins.spacing;

  @include queries.tab-portrait {
    padding: variables.$expanse-base;
  }

  @include queries.desktop {
    margin-top: variables.$gap-xl;
    margin-bottom: variables.$gap-2xl;
  }

  .grid-md-cell .imprint {
    font-weight: variables.$font-bold;
    font-size: variables.$text-3xl;
    margin-bottom: variables.$gap-lg;
  }

  .grid-md-cell p:not(:first-child) {
    margin-bottom: 0.125rem;
  }

  .has-only-icons {
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-left: 0;

    li:not(:first-child) {
      margin-left: variables.$gap-xs;
    }
  }
}

// Utilities

.is-visible {
  @include mixins.hide(false);
}

.is-hidden-on-phone {
  @include queries.phone {
    @include mixins.hide(true);
  }
}

.icon {
  fill: none;
  stroke: currentColor;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  height: variables.$gfx-sm;
  width: variables.$gfx-sm;
  vertical-align: top;
}

.translucent {
  opacity: variables.$opacity-md;
}

.is-highlighted {
  color: variables.$link;
}

.is-lead {
  font-weight: variables.$font-semibold;
  font-size: variables.$text-md;
  margin-top: variables.$gap-xs;
  margin-bottom: variables.$gap-xs;
}

.options {
  @include mixins.spacing;
  @include mixins.center(nowrap, flex-start);

  @include queries.tab-portrait {
    padding: variables.$gap-2xl variables.$expanse-base 0;
  }

  & > a {
    text-decoration: none;
    margin-right: variables.$gap-rg;
  }
}

.layout {
  overflow-x: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

// Overrides

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  &:focus a .ref-link,
  &:hover a .ref-link {
    @include mixins.hide(false);
    display: inline-block;
    width: 1.25ch;
    margin-left: -1.25ch;
    font-weight: variables.$font-normal;

    &::after {
      content: '#';
      outline: none;
    }
  }
}
